[submodule ".registry"]
	path = .registry
	url = https://github.com/ncov-ic/ncov-ic.r-universe.dev
	branch = HEAD
[submodule "EpiEstim"]
	path = EpiEstim
	url = https://github.com/mrc-ide/EpiEstim
	branch = release
[submodule "dde"]
	path = dde
	url = https://github.com/mrc-ide/dde
	branch = master
[submodule "drjacoby"]
	path = drjacoby
	url = https://github.com/mrc-ide/drjacoby
	branch = master
[submodule "dust"]
	path = dust
	url = https://github.com/mrc-ide/dust
	branch = master
[submodule "epidemia"]
	path = epidemia
	url = https://github.com/ImperialCollegeLondon/epidemia
	branch = 6e5c800
[submodule "fstorr"]
	path = fstorr
	url = https://github.com/reside-ic/fstorr
	branch = master
[submodule "hermione"]
	path = hermione
	url = https://github.com/mrc-ide/hermione
	branch = master
[submodule "mcstate"]
	path = mcstate
	url = https://github.com/mrc-ide/mcstate
	branch = master
[submodule "odin"]
	path = odin
	url = https://github.com/mrc-ide/odin
	branch = master
[submodule "odin.dust"]
	path = odin.dust
	url = https://github.com/mrc-ide/odin.dust
	branch = master
[submodule "odin.js"]
	path = odin.js
	url = https://github.com/mrc-ide/odin.js
	branch = master
[submodule "orderly"]
	path = orderly
	url = https://github.com/vimc/orderly
	branch = master
[submodule "orderly.rstudio"]
	path = orderly.rstudio
	url = https://github.com/vimc/orderly.rstudio
	branch = master
[submodule "orderly.sharepoint"]
	path = orderly.sharepoint
	url = https://github.com/vimc/orderly.sharepoint
	branch = master
[submodule "orderlyweb"]
	path = orderlyweb
	url = https://github.com/vimc/orderlyweb
	branch = master
[submodule "pika"]
	path = pika
	url = https://github.com/mrc-ide/pika
	branch = master
[submodule "projections"]
	path = projections
	url = https://github.com/reconhub/projections
	branch = release
[submodule "sircovid"]
	path = sircovid
	url = https://github.com/mrc-ide/sircovid
	branch = master
[submodule "spimalot"]
	path = spimalot
	url = https://github.com/mrc-ide/spimalot
	branch = main
[submodule "spud"]
	path = spud
	url = https://github.com/reside-ic/spud
	branch = master
[submodule "squire"]
	path = squire
	url = https://github.com/mrc-ide/squire
	branch = master
[submodule "vaultr"]
	path = vaultr
	url = https://github.com/vimc/vaultr
	branch = master
